@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    background: radial-gradient(circle at center, #1a0026, #000);
    color: #00ffea;
    font-family: "Press Start 2P", monospace;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

header {
    font-size: 32px;
    padding: 20px;
    color: #fff;
    text-shadow: 0px 0px 8px #ff00ff;
    border-bottom: 2px solid #ff00ff;
}

section {
    display: none;
    margin-top: 40px;
}

#start-screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#results-screen {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#game-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    gap: 40px; 
    width: 100%;
    height: 55vh;
    padding: 20px;
}

.dealer-area, .player-area {
    background: rgba(0, 0, 0, 0.4);
    width: 40%;
    height: 100%;
    border: 3px solid #00f5ff;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 15px #00b3a6;
}

h2 {
    text-shadow: 0px 0px 6px #00ffe1;
    margin-bottom: 12px;
}

.card img, 
#dealer-card img, 
#player-card img {
    width: 150px; 
    height: auto;
    margin-bottom: 25px;
    border-radius: 8px;
    filter: drop-shadow(0 0 15px magenta);
}
#dealer-card,
#player-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

button {
    font-family: "Press Start 2P";
    background: black;
    border: 2px solid #ff00ff;
    color: #ff00ff;
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.15s;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ff00ff;
}

button:hover {
    background: #ff00ff;
    color: black;
    box-shadow: 0px 0px 15px #ff33ff;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
#game-container .buttons {
    display: none;
}

#game-container.active .buttons {
    display: flex !important;
    flex-direction: column;
    gap: 15px;
}

#results-screen h1 {
    text-shadow: 0px 0px 6px #00ffd5;
    height: 25vh;
    margin-top: 10px;
}

#game-message {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0px 0px 10px #ff00ff;
}

/* SCORE TEXT */
#score, #scorePc {
    color: #00ffea;
    text-shadow: 0px 0px 8px #00ffd5;
}